.gradle/
build/
app/build/
*.iml
.idea/
local.properties
.DS_Store

# Explicitly ensure Gradle wrapper jar, scripts, and release keystore are tracked in Git
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
!gradlew
!gradlew.bat
!app/release.jks
!app/release.p12
